body {
    color: #ffffff;
    font-family: Lato, cursive;
    font-weight: 500;
    width: 1080px;
    height: 1920px;
    padding: 0;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #06334F none repeat scroll 0 0;
    //background: radial-gradient(#fff 1%, #057893 99%) no-repeat;
    //overflow: hidden;
}


// Scroll bar
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color:#B03C3F;
    border-radius:10px;
    &:hover{
        background-color:#BF4649;
        border:1px solid #333333;
    }
    &:active{
        background-color:#A6393D;
        border:1px solid #333333;
    } 
}

// Fancybox
.fancybox-nav {
    width: 60px;
}

.fancybox-nav span {
    visibility: visible;
}

.fancybox-next {
    right: -60px;
}

.fancybox-prev {
    left: -60px;
}


.ifind-section {
    width: 100%;

    &.ifind-section-flex {
        @include flexbox;
        @include flex-wrap(wrap);
    }

    .ifind-col {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 10px;
        text-align: center;
        z-index: 10;
    }

    @include breakpoint('min', 'medium') {
        .ifind-col {
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 15px;
            text-align: left;

            &.ifind-col--full {
                width: 100%;
            }

            &.ifind-col--small {
                width: 35%;
            }

            &.ifind-col--large {
                width: 65%;
            }
        }

        .ifind-col-right {
            text-align: center;
        }

        &.ifind-content-main {
            .ifind-col {
                &.ifind-col--small {
                    width: 40%;
                }

                &.ifind-col--large {
                    width: 60%;
                }
            }
        }
    }
}