.header-title {
    font-size: 25px;
    line-height: 1;
}

.ifind-map-wrap{
    .header-title{
        font-family: 'Pacifico', cursive;
        color: #000;
        font-size: 35px;
    }
}

.header-page-name {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    line-height: 1;
}

.header-slogan {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    font-style: italic;
}

.header-page-info {
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
    line-height: 1;
}

.heading {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
    color: #000;
}

.header-slogan,
.header-page-name{
    margin-top: 15px;
    margin-bottom: 10px;
}

.header-title, 
.header-page-info{
    margin-top: 15px;
    margin-bottom: 10px;
}

a[href^=tel] {
    color: white;
}