#ifind-header-wrap{
    background-image: url(assets/images/header-bg.png);
    background-repeat: repeat;
    background-size: auto 75%;
}

.ifind-weather {
    //background: #f16e81;
    //border: 5px solid #fff;
    background: url(assets/images/cloud2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: #000;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 15px;
    width: 100%;
    height: 100%;
    line-height: 1.6;
    padding-top: 15px;
    padding-bottom: 33px;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    .today{
        .ifind-weather-icon{
            padding-top: 25px;
        }
    }
    .ifind-weather-content{
        margin-top: -10px;
        span{
            display: block;
        }
    }
}

.ifind-header-top{
    position: relative;
    &:before{
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .ifind-col-left.gtranslate-show{
        margin-top: 40px;
    }
}
.ifind-header-main{
    @include align-items(center);
    padding-bottom: 85px;
}

.ifind-gtranslate{
    margin-top: 5px;
    z-index: 11;
    background: url(assets/images/bg_text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 45px;
    text-align: center;
    margin-top: 5px;
    width: 85%;
    @include flexbox; 
    @include justify-content(center);
    @include align-items(center);

    a.glink{
        width: 60px;
        padding: 3px 10px;
        display: inline-block;
        img{
            width: 100% !important;
            height: auto !important;
            opacity: 1 !important;
        }
    }
    .switcher {
        width: 225px !important;
        .option, .selected{
            width: 100% !important;
            max-width: unset;
            a{
                font-size: 20px;
                width: 100% !important;
                padding: 7px 10px !important;
            }
        }
        .selected a{
            background-position-x: 205px !important;
        }
    }
}