.ifind-slider {
	width: 100%;
}

.slick-arrow {
	border: none;
	width: 35px;
	height: 35px;
	z-index: 9;
	&::before {
		font-size: 35px;
	}
	&:hover, &:active{
		border: none;
	}
}

.ifind-sliderPop-item, .ifind-smallSlider-item, .ifind-footerSlider-item {
	img{
		cursor: pointer;
	}
}

#popupSlider {
	display: none;
	.ifind-sliderPop-item {
		img {
			width: 100%;
		}
	}
}

.ifind-smallSlider-container {
	img {
		width: 100%;
	}

	.slick-list {
		border: 2px solid #000;
		@include breakpoint('min', 'medium') {
			border: 3px solid #000;
    		border-radius: 20px;
		}
		//box-shadow: 1px 1px 10px -1px #C7F8F9;
	}

	.slick-arrow {
		top: auto;
		bottom: -60px;
		&.slick-prev {
			// left: 5px;
			// right: auto;
			right: 45px;
			left: auto;
		}

		&.slick-next {
			//left: 45px;
			right: 5px;
			left: auto;
		}
	}
}

.footerSlider {
	padding: 0 30px;
	.slick-list{
		margin-left: 15px;
		margin-right: 15px;
		border: 15px solid rgba(255, 255, 255, 0.4);
	}
	.ifind-footerSlider-item .inner {
		@include flexbox; 
		@include justify-content(center);
		@include align-items(center);
		a{
			display: block;
    		width: 100%;
		}
		img{
			width: 100%;
		}
	}
	.slick-arrow {
		&.slick-prev {
			left: -25px;
		}

		&.slick-next {
			right: -25px;
		}
	}
}