/* sass\layout\woocommerce\_product_loop.scss */
@include keyframes(spinner) {
	to {
		transform: rotate(360deg);
	}
}

//demo https://www.zachstronaut.com/lab/shine-css3.html
@include keyframes(shine) {
	0%{
		background-position: top left;
	}
	100% {
		background-position: top right;
	}
}


/* sass\layout\menu\_desktop.scss */
@include keyframes(fadeInDown) {
	0% {
		@include opacity(0);
		@include transform(translate3d(0, -100%, 0));
	}

	100% {
		@include opacity(1);
		@include transform(none);
	}
}

/* Icon Pulse */
@include keyframes(icon-pulse) {
	25% {
		@include transform(scale(1.3));
	}

	75% {
		@include transform(scale(1));
	}
}

/* Loadding effect */
@include keyframes(bounce_circularG) {
	0%{
		@include transform(scale(1));
	}

	100%{
		@include transform(scale(.3));
	}
}

/* Circle */
@include keyframes(circle) {
	0% {
		@include opacity(1);
	}
	40% {
		@include opacity(1);
	}
	100% {
		width: 200%;
		height: 200%;
		@include opacity(0);
	}
}


/* Swing */	
@include keyframes(swing) {
	20% {
		@include transform(rotate3d(0, 0, 1, 15deg));
	}
	40% {
		@include transform(rotate3d(0, 0, 1, -10deg));
	}
	60% {
		@include transform(rotate3d(0, 0, 1, 5deg));
	}
	80% {
		@include transform(rotate3d(0, 0, 1, -5deg));
	}
	to {
		@include transform(rotate3d(0, 0, 1, 0deg));
	}
}

// Back button
@include keyframes(animate-arrow-1){
	0% {
		transform: translateX(-40px);
		opacity: 0;
	}

	70%,
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@include keyframes(animate-arrow-2){
	0% {
		transform: translateX(-20px);
		opacity: 0;
	}

	70%,
	100% {
		transform: translateX(0px);
		opacity: 0.5;
	}
}

@include keyframes(animate-arrow-3){
	0% {
		transform: translateX(-10px);
		opacity: 0;
	}

	70%,
	100% {
		transform: translateX(0px);
		opacity: 0.3;
	}
}